.footerWrap {
	padding: 30px;
	background-color: grey;
	border-top: 1px solid grey;
	opacity: .8;
    max-width: 100%;
}

.footerContainer {
    display: flex;
	justify-content: flex-end;
	background-color: grey;
}