@import "../../../assets/sass/mixins";

.companyDetailWrap {
    padding-top: 20px;
}

.rowTop {
	margin-bottom: 30px;
}

.colImg {
    display: flex;
    justify-content: center;
    
    >img {
        width: 80%;
    }


}


.titleWrap {
	flex-direction: column;
	align-items: center;

    >h1 {
        @include pageTitle;
    }
}

