@import "../../assets/sass/mixins";


// .uploadFileWrap {
//     display: flex;
// 	flex-direction: column;
// 	align-items: center;
// }

.uploadImage {
    width: 50%;
    cursor: pointer;
    @include transition(transform);

    &:hover {
        transform: scale(1.05);
    }

}