.pdfHeader {
    margin-bottom: 30px;
    line-height: 2em;
}

.actTitle {
    margin-top: 50px;
    h5 {
        text-align: center;
        margin-bottom: 50px;
    }
}


.colTitle {
    text-align: right;
}
    
.colBody {

    text-align: center;
    border-bottom: 2px solid black;
    
}

.pdfTitle {
    text-align: center;
    margin-bottom: 30px;
    
    h5 {
        font-style: italic;
    }
}
    
    
.pdfTable {
    margin-bottom: 20px;
    
    
    .tHead {
        div {
            padding-bottom: 5px;
            border: 1px solid black;
            text-align: center;
            vertical-align: top;
        }

    }  

    .tBody {
        div {
            padding-bottom: 5px;
            border: 1px solid black;
            text-align: center;
            line-height: 2em;
        }
    }     

    .companyRow {
        border: 1px solid black;
        text-align: center;
        font-size: 14px;

        h5 {
            margin-bottom: 5px;
        }
    }
    
    .underScored {
        text-align: center;
        border-bottom: 1px solid black;
    }

    
}




    


    

