@import "../../assets/sass/mixins";


.menuItem {
	@include list_reset;
	margin: 0;
	margin-bottom: 15px;
	font-size: 1.5em;
	border-bottom: 1px solid grey;
	@include transition(color);

	&:hover {
		color: blueviolet;
	}

	
}