{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 animate-box">
            <h2>{{company.full_name}}: добавить животное</h2>
                <form class="contact-form" method="post" action="{{url_for('add_animal', company_id=company.id)}}">
                    <div class="form-group">
                        <label for="name" class="">Выберите вид животного *</label>
                        <select name="species_id" style="width: 350px;">
                            {% for spec in species %}
                            <option value="{{spec.id}}">{{spec.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name" class="">Выберите пол животного *</label>
                        <select name="gender_id" style="width: 350px;">
                            {% for gender in genders %}
                            <option value="{{gender.id}}">{{gender.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name" class="">Выберите тип использования животного *</label>
                        <select id="" name="usage_type_id" style="width: 350px;">
                            {% for usage_type in usage_types %}
                            <option value="{{usage_type.id}}">{{usage_type.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name" class="">Дата рождения</label>
                        <input type="date" style="width: 200px; height: 40px;"  name="date_of_birth" class="form-control" id="date_of_birth" placeholder="">
                    </div>
                    <div class="form-group">
                        <input type="text" name="nickname" class="form-control" id="nickname"
                            placeholder="Кличка *" style="width: 200px; height: 30px;">
                    </div>
                    <div class="form-group">
                        <label for="identification" class="">Идентификация</label>
                        <input type="text" name="identification"  value="нет" class="form-control" id="identification" placeholder="Идентификация *"
                            style="width: 200px; height: 30px;">
                    </div>
                    <div class="form-group">
                        <input type="submit" id="btn-submit" class="btn btn-primary btn-send-message btn-md" value="Зарегистрировать">
                    </div>
                </form>
                
                <form class="contact-form" method="post" action="{{url_for('upload_animals', company_id=company.id)}}" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="file" class="">Загрузить из файла</label>
                        <input type="file" name="file" id="file">
                    </div>
                    <div class="form-group">
                        <input type="submit" id="btn-submit" class="btn btn-primary btn-send-message btn-md" value="Отправить">
                        <a class="btn btn-success"  href="{{url_for('company_detail', company_id=company.id)}}">Назад</a>
                    </div>
                </form>
        </div>
    </div>
</div>

<p></p>

{% endblock %}
