@import "../../../assets/sass/mixins";
@import "../../../assets/sass/templates";

.drugDetailWrap {
    padding-top: 20px;
}

.rowTop {
	margin-bottom: 50px;
}

.colImg {
    display: flex;
    justify-content: center;
    
    >img {
        width: 100%;
    }


}


.titleWrap {
	flex-direction: column;
	align-items: center;
    margin-bottom: 30px;

    >h1 {
        @include pageTitle;
    }
}

.rowBody {
    min-height: 550px;
}


.drugWrap {
    h5 {
        text-align: center;
    }
}

.buttonWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;

}

.pdfWrap {
    margin: 0 100px 10px;
    width: 2400px;
    height: 3508px;
    padding-left: 100px;
}


.pdfTitle {
    text-align: center;
    margin-bottom: 30px;

    h3 {
        font-style: italic;
    }
}

.pdfHeader {
    margin-bottom: 100px;
}

.pdfBoss {
    display: flex;
    justify-content: space-between;
    align-items: end;

    div {
        border-bottom: 2px solid black;

        h3 {
            margin: 0;
        }
    }

}

.pdfDate {
    display: flex;
    
    div {
        text-align: center;
        border-bottom: 2px solid black;

        h3 {
            margin: 0;
        }
    }

}

.pdfBody {

    margin-bottom: 30px;

    h3 {
        margin: 0;
        border-bottom: 2px solid black;
    }
 
}

.tHead {
    div {
        border: 2px solid black;
        text-align: center;
    }
}

.tBody {
    margin-bottom: 50px;
    div {
        border: 2px solid black;
        text-align: center;
    }
}

.pdfFooter {
    margin-bottom: 50px;
    
}

.col2 {
    border-bottom: 2px solid black;
}


