.cardAddress {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h6 {
        font-size: 12px;
    }

}

.cardEmployee {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

    h6 {
        font-size: 12px;
    }

}

.cardPhone {
    display: flex;
    flex-direction: column;
    align-items: start;

    > span {
        font-size: .8rem;
    }
}