@import "../../../assets/sass/mixins";
@import "../../../assets/sass/templates";

.cardImageWrap {
	display: flex;
	width: 30%;
	@include transition(transform);
	
	&:hover {
		@include transform;
	}
}

.cardImageLink {
	height: 50px;
}

.cardImage {
    width: 100px;
	@include transition(transform);
	
	&:hover {
		@include transform;
	}
}