.pdfHeader {
    margin-bottom: 30px;
}

.actTitle {
    h5 {
        text-align: center;
    }
}


.colTitle {
    text-align: right;
}
    
.colBody {

    text-align: center;
    border-bottom: 2px solid black;
    
}

.pdfTitle {
    text-align: center;
    margin-bottom: 30px;
    
    h5 {
        font-style: italic;
    }
}
    
    
.pdfBody {
    margin-bottom: 20px;
    
    .disease {
        display: flex;
    }   
}


.tableWrap {
    margin-bottom: 30px;

    .tHead {
        div {
            border: 2px solid black;
            text-align: center;
        }
    }
        
    .tBody {
        div {
            border: 2px solid black;
            text-align: center;
        }
    }     
}
    

.pdfFooter {
    margin-bottom: 50px;      
}
    
.col2 {
    border-bottom: 2px solid black;
}
