@import "./variables";


@mixin transition($style) {
    transition: $style .3s ease-in-out;
}

@mixin transform() {
    transform: scale(1.1);
}

@mixin btn-reset() {
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

@mixin btn-size($padding-X, $padding-Y, $border-radius, $font-size) {
	padding: $padding-X $padding-Y;
	border-radius: $border-radius;
	> .btnTitle {
		font-size: $font-size;
	}
}

@mixin btn-color($color1, $color2) {
	background-color: $color1;
	background: linear-gradient($color1, $color2);
}


@mixin list_reset() {
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin flex() {
	display: flex;
}

@mixin pageTitle($color: $fontColor) {
	text-align: center;
	font-weight: 600;
    margin-bottom: 30px;
	color: $color;
}
