// container
$containerMaxWidth: 1200px;
$baseColor: white;

//fonts
$fontFamily: "HelveticaNeueCyr", sans-serif;
$fontColor: rgba(0, 0, 0, 0);
$mainTitleSize: 20px;

//btn
$btnColor: #dedef0;
$btnColor2: rgba(164, 164, 242, 0.9);
$btnTitleColor: rgba(120, 24, 238, 0.6);
