@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-upload,
.btn-nav,
.btn-submit,
.btn-large {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  outline: none;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #dedef0;
  background: linear-gradient(#dedef0, rgba(164, 164, 242, 0.9));
  color: rgba(120, 24, 238, 0.6);
  transition: transform 0.5s ease-in-out;
}
.btn-upload::after,
.btn-nav::after,
.btn-submit::after,
.btn-large::after {
  content: "";
  position: absolute;
  left: -3px;
  right: -3px;
  top: -3px;
  bottom: -3px;
  border-radius: inherit;
  border: 1px solid rgba(0, 0, 0, 0.8);
  outline: none;
  opacity: 0;
}
.btn-upload:focus::after,
.btn-nav:focus::after,
.btn-submit:focus::after,
.btn-large:focus::after {
  opacity: 1;
}
.btn-upload:hover,
.btn-nav:hover,
.btn-submit:hover,
.btn-large:hover {
  transform: scale(1.05);
}
.btn-upload:active,
.btn-nav:active,
.btn-submit:active,
.btn-large:active {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease-in-out;
}
.btn-upload:active::after,
.btn-nav:active::after,
.btn-submit:active::after,
.btn-large:active::after {
  opacity: 1;
}

.btn-upload-disabled {
  @apply w-full bg-indigo-200 rounded-md cursor-none text-indigo-400 uppercase;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-Light"),
    url("../fonts/HelveticaNeueCyrLight.woff2") format("woff2"),
    url("../fonts/HelveticaNeueCyrLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-Medium"),
    url("../fonts/HelveticaNeueCyrMedium.woff2") format("woff2"),
    url("../fonts/HelveticaNeueCyrMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-Bold"),
    url("../fonts/HelveticaNeueCyrBold.woff2") format("woff2"),
    url("../fonts/HelveticaNeueCyrBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 500;
}

:root {
  --gap: 30px;
}

/* global */
.form-group {
  margin-bottom: 15px;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.form-group label {
  font-weight: 700;
}

.input-wrap {
  margin-bottom: 15px;
  width: 100%;
}

.error-message {
  color: red;
  font-size: 0.8em;
}

.custom-select {
  margin-bottom: 15px;
}

.delete-icon {
  color: red;
  font-size: 16px;
  transition: transform 0.3s ease-in-out;
}
.delete-icon:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.edit-icon {
  color: blueviolet;
  font-size: 16px;
  transition: transform 0.3s ease-in-out;
}
.edit-icon:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.pdf-icon {
  color: blueviolet;
  font-size: 16px;
  transition: transform 0.3s ease-in-out;
}
.pdf-icon:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.btn-large {
  padding: 15px 30px;
  border-radius: 5px;
}
.btn-large > span {
  font-size: 1em;
}

.btn-submit {
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
}
.btn-submit > span {
  font-size: 1em;
}

.btn-nav {
  padding: 5px 10px;
  border-radius: 5px;
}
.btn-nav > span {
  font-size: 1em;
}

.btn-upload {
  padding: 2px 10px;
  border-radius: 5px;
}
.btn-upload > span {
  font-size: 0.7em;
}

.btn-default {
  width: 100%;
  text-align: center;
  font-size: 0.7em;
  background-color: #fff;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
}
.btn-default:hover {
  transform: scale(1.1);
} /*# sourceMappingURL=index.css.map */

/* title style */
.title-base {
  @apply m-0 mb-5 text-center font-bold text-black;
}

.card-title {
  @apply title-base underline text-sm cursor-pointer hover:text-violet-600 transition-colors;
}

.page-title {
  @apply title-base text-3xl underline;
}

.text-base {
  @apply m-0 mb-2 text-center text-xs text-black;
}
/* end title style */

/* Carousel styles */
.carousel {
  @apply h-[600px];
}

.carousel img {
  @apply h-full text-center my-0 mx-auto hover:opacity-70 transition-opacity;
}

.carousel-caption {
  @apply rounded-md bg-white bg-opacity-50 shadow-md shadow-gray-400;
}

.carousel-caption h1 {
  @apply title-base text-6xl;
}

.carousel-caption p {
  @apply text-xl;
}
/* end carousel styles */

/* card styles */
.vertical-card {
  @apply flex flex-col p-3 h-full w-full drop-shadow-md hover:scale-105 transition-transform;
}

.catalog-card {
  @apply p-3 mb-5 border rounded-md shadow-lg hover:scale-105 transition-transform;
}
/* end card style */

/* menu style */
.page-menu {
  @apply text-left p-4 mb-5 border rounded-md shadow-md;
}

.page-menu-top {
  @apply flex flex-col items-center w-full;
}

.page-menu-top h2 {
  @apply title-base underline text-2xl;
}

.page-menu-top ul {
  @apply p-0 flex flex-col;
}

.page-menu-buttons {
  @apply flex flex-col p-1;
}

.page-menu-item {
  @apply list-none m-0 mb-4 border-b border-b-black text-2xl hover:text-violet-600 transition-colors;
}
/* end menu style */

.page-detail-title {
  @apply text-center text-lg underline font-bold mb-8;
}

.form-title {
  @apply text-sm;
}

/* table styles */
.table-head th {
  @apply border border-black font-bold text-center;
}

.table-head-report {
  @apply pb-2 table-head text-xs;
}

.table-body td {
  @apply border border-black text-center;
}

.table-body-report {
  @apply pb-2 table-body text-xs;
}

/* report style */
.pdf-report-underlined {
  @apply pb-2 border-b border-b-black;
}

.report-title {
  @apply text-center text-sm font-bold mb-3;
}

.report-text {
  @apply text-sm;
}

/* form styles */
.text-input {
  @apply w-full p-2 border border-slate-300 hover:border-slate-400 focus:outline-blue-600 transition-colors rounded-sm text-xs cursor-default;
}

.form-group {
  @apply mb-2 text-xs text-black;
}

.form-group label {
  @apply font-bold;
}

.input-wrap {
  @apply mb-2 w-full;
}

.custom-select {
  @apply mb-2 text-xs;
}

.error-message {
  @apply text-center text-red-600 text-[0.6em];
}

.navLink {
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.navLink:focus {
  outline-offset: 2px;
  outline: 1px solid rgb(114, 114, 233);
}

.navLink:hover {
  color: rgb(114, 114, 233);
}

.navLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(19, 19, 27);
  opacity: 0;
}

.navLink:active {
  color: darkorchid;
  outline: none;
}

.navLink:active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(19, 19, 27);
  opacity: 1;
}

.navLink:not(:last-child) {
  margin-right: 52px;
} 
