.pdfHeader {
    margin-bottom: 30px;
    font-size: 14px;
}

.pdfTop {
    margin-bottom: 30px;


}

.reportTitle {
    h5 {
        text-align: center;
        font-style: italic;
    }
}

.colTitle {
    text-align: center;
    font-style: italic;
}

.tableWrap {
    margin: 0;
    padding: 0;
   
    thead {
        text-align: center;
        font-size: 14px;
        vertical-align: middle;

        th {
            border: solid 1px black;
        }
    }

    tbody {
        text-align: center;
        font-size: 14px;

        td {
            border: solid 1px black;
        }
    }
}
    
    
.pdfFooter {
    font-size: 14px;

    .col1 {
        margin: 0;
        border-bottom: 1px solid black;
        text-align: center;
    }

}
    
