@import "../../assets/sass/mixins";
@import "../../assets/sass/templates";
@import "../../assets/sass/variables";


.header {
	padding: 36px 0;
	border-bottom: 1px solid rgba(0, 0, 0, .4);
	background-color: $baseColor;
}

.wrap {
    display: flex;
	align-items: center;
}





