.custom_checkbox {
  // position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  padding-left: 25px;
}

label {
  cursor: pointer;
}

.styled_checkbox {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid red;
  border-radius: 5px;
  margin-left: -25px;
  cursor: pointer;
}

.custom_checkbox:checked + .styled_checkbox::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom_checkbox:disabled + .styled_checkbox {
  border: 2px solid grey;
}

.custom_checkbox:checked:disabled + .styled_checkbox::before {
  background-color: grey;
}

.custom_checkbox:focus + .styled_checkbox {
  box-shadow: 0 0 0 2px black;
}
