{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 animate-box">
            <h3>Новое Поступление</h3>
                <form class="contact-form" method="post" action="#">
                    <div class="form-group">
                        <label for="operation_date" class="">Дата поступления</label>
                        <input type="date"  name="operation_date"  class="" id="operation_date">
                    </div>
                    <div class="form-group">
                        <input type="submit" id="btn-submit" class="btn btn-primary btn-send-message btn-md" value="Добавить">
                    </div>
                </form>
        </div>
    </div>
</div>

<p></p>

{% endblock %}
