@import "../../assets/sass/mixins";
@import "../../assets/sass/templates";


.catalogItem {
    display: flex;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid grey;
	box-shadow: 3px 3px grey;
	border-radius: 5px;
	min-height: 50px;
	@include transition(transform);
	

	>a {
		max-width: 27%;;
	}

	&:hover {
		transform: scale(1.05);
		box-shadow: 5px 5px grey;
		@include transition(transform);
	}

}

.card {
	display: flex;
	flex-direction: column;
	width: 100%;
}


.cardTitle {
	@extend %cardTitle;
	cursor: pointer;
	@include transition(color);

	&:hover {
		color: blueviolet;
	}
}

.cardText {
	@extend %textBase;
}

.cardImage {
    width: 100%;
	@include transition(transform);
	
	&:hover {
		@include transform;
	}
}

.cardImageEmpty {
	width: 25%;
	@include transition(transform);
	
	&:hover {
		@include transform;
	}
}

.deleteItem {
	display: flex;
	justify-content: end;
	align-items: end;
	margin-bottom: 10px;
}