.catalogItem {
    display: flex;
	align-items: center;
	padding: 10px;
	margin-bottom: 20px;
	transition: transform .3s ease-in-out;
	border: 1px solid grey
}


.catalogItem:hover {
	transform: scale(1.05);
	
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cardTitle {
	font-weight: 700;
	text-align: center;
}

.cardText {
	text-align: center;
}

.cardImage {
    width: 25%;
}
