.catalogItem {
    display: flex;
	padding: 10px;
	margin-bottom: 20px;
	transition: transform .3s ease-in-out;
	border: 1px solid grey;
	border-radius: 5px;
}


.catalogItem:hover {
	transform: scale(1.05);
	
}

.card {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.cardTitle {
	text-align: center;
	font-weight: 700;
	text-align: center;
}

.cardText {
	text-align: center;
}

.cardImage {
	margin-right: 20px;
    width: 25%;
}
