@import "../../assets/sass/mixins";
@import "../../assets/sass/templates";


.catalogItem {
    display: flex;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid grey;
	box-shadow: 3px 3px grey;
	border-radius: 5px;
	cursor: pointer;
	@include transition(transform);

	&:hover {
		transform: scale(1.05);
		@include transition(transform);
	}

}

.card {
	display: flex;
	flex-direction: column;
	width: 100%;
}


.cardTitle {
	@extend %titleBase;
}

.cardText {
	@extend %textBase;
}

.cardImage {
	margin-right: 20px;
    width: 25%;
}

.deleteItem {
	display: flex;
	justify-content: end;
	margin-bottom: 20px;
}